{
  "extends": [
      "airbnb-base",
      "prettier",
      "plugin:prettier/recommended"
  ],
  "env": {
    "node": true
  },
  "plugins": [
      "prettier"
  ],
  "rules": {
      "prettier/prettier": "error",
      "no-console": "off",
      "no-plusplus": [2, { "allowForLoopAfterthoughts": true }]
  }
}
